name: Generate Draft PR

on:
  create:
    branches:
      - 'feature/**'

jobs:
  createPullRequest:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Variables for PR
        run: |
          git fetch
          echo "::set-output name=RELEASE_BRANCH::$(git branch -a | grep -E -o 'release/[0-9]*' | sort -r | head -1 | tr -d ' ')"
          echo "::set-output name=ISSUE_NUMBER::$(echo '${{ github.ref_name }}' | cut -d '/' -f 2-)"
        id: variables

      - name: Create Pull Request
        id: cpr
        uses: repo-sync/pull-request@v2
        with:
          github_token: ${{ secrets.PR_TOKEN }}
          destination_branch: ${{ steps.Variables.outputs.RELEASE_BRANCH }}
          pr_title: "[${{ steps.Variables.outputs.ISSUE_NUMBER }}] Automatic Generated Draft PR"
          pr_template: ".github/PULL_REQUEST_TEMPLATE.md"
          pr_reviewer: "@shlee-zigbang"
          pr_assignee: ${{ github.actor }}
          pr_draft: true