name: Generate Draft PR

on:
  create:
    branches:
      - 'feature/**'

jobs:
  createPullRequest:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Variable for PR
        run: |
          git fetch
          echo "::set-output name=RELEASE_BRANCH::$(git branch -a | grep -E -o 'release/[0-9]*' | sort -r | head -1 | tr -d ' ')"
          echo "::set-output name=ISSUE_NUMBER::$(echo '${{ github.ref }})' | cut -d '/' -f 2-"
        id: variable

      - name: Create Pull Request
        id: cpr
        uses: repo-sync/pull-request@v2
        with:
          pr_draft: true
          github_token: ${{ secrets.PR_TOKEN }}
          pr_title: "[${{ steps.variable.outputs.ISSUE_NUMBER }}] Automated Draft PR"
          destination_branch: ${{ steps.variable.outputs.RELEASE_BRANCH }}
