name: Generate Draft PR

on:
  push:
  create:
    branches:
      - 'feature/**'

jobs:
  createPullRequest:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: echo a string
        run: echo "Hello, world!"

      - name: multiline script
        run: |
          git fetch
          git branch -a | grep -E -o 'release/[0-9]*' | sort -r | head -1 | tr -d ' '

      - name: Latest Release Branch Print
        run: |
          git branch -a | grep -E -o 'release/[0-9]*' | sort -r | head -1 | tr -d ' '

      - name: Latest Release Branch
        run: |
          echo "::set-output name=BRANCH::$(git branch -a | grep -E -o 'release/[0-9]*' | sort -r | head -1 | tr -d ' ')"
        id: release


      - name: TEST Latest Release Branch
        run: |
          echo ${{ steps.release.outputs.BRANCH }}

      - name: Create Pull Request
        id: cpr
        uses: repo-sync/pull-request@v2
        with:
          pr_draft: true
          github_token: ${{ secrets.PR_TOKEN }}
          destination_branch: ${{ steps.release.outputs.BRANCH }}