name: Generate Draft PR

on:
  create:
    branches:
      - 'feature/**'

jobs:
  createPullRequest:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: echo a string
        run: echo "Hello, world!"

      - name: multiline script
        run: |
          git branch -r
          git branch -a
          git branch --list 'release/*'

      - name: Latest Release Branch Print
        run: |
          git branch --list 'release/*' | sort -r | head -1

      - name: Latest Release Branch
        run: |
          echo "::set-output name=BRANCH::$(git branch --list 'release/*' | sort -r | head -1)"
        id: release

      - name: Create Pull Request
        id: cpr
        uses: repo-sync/pull-request@v2
        with:
          pr_draft: true
          github_token: ${{ secrets.GITHUB_TOKEN }}
          destination_branch: ${{ steps.release.BRANCH }}